/* title, menu, or else? */
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: white;
	font-family: "consolas";
	background-color: #001629;
}

.atlasmain {
	width: 80%;
	height: 80vh;
	border: 2px solid rgb(0, 106, 124);
	border-radius: 5px;
	margin: 20px auto;
}

h1 {
	text-align: center;
	user-select: none;
}

.container {
	width: 800px;
	height: 250px;
	/* border: 2px solid black; */
}
/* attributes */
.answer {
	text-transform: uppercase;
	margin: 20px;
	user-select: none;
}

.word {
	margin-top: 50px;
}

.huruf {
	margin: 20px;
	background-color: rgb(3, 215, 243);
	padding: 10px 20px;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
}

button {
	cursor: pointer;
	text-transform: uppercase;
	display: block;
	border-radius: 20px;
	padding: 10px 30px;
	margin: 10px auto;
	font-weight: bold;
	outline: none;
	border: none;
	background-color: rgb(65, 225, 198);
	color: white;
	transition: .3s;
}

button:focus {
	outline: none;
}

button:hover {
	opacity: 0.7;
	transform: scale(1.1);
}
